.intro {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
}

.p1 {
  font-size: 80px;
  font-family: Alfa Slab One;
}
.p2 {
  font-size: 20px;
  font-family: Montserrat;
}
.explore {
  margin-top: 300px;
}
.explore-button {
  font-size: 24px;
  padding: 8px 16px;
  color:#312c23;
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #312c23;
  cursor: pointer;
  transition: background-color 1s;
}

.explore-button:hover {
  background-color: #312c23;
  color: white;
}

.explore-button:active {
  opacity: 0.7;
}

.contact {
  padding: 32px 0;
  text-align: center;
}

.contact h2 {
  margin-bottom: 16px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 16px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer-text {
  font-size: 18px;
}

