@media (max-width: 1060px) {
  .h1 {
    display: none;
  }
}
@media (max-width: 960px) {
  .h2 {
    display: none;
  }  
}
@media (max-width: 850px) {
  .h3 {
    display: none;
  }
}
@media (max-width: 720px) {
  .h4 {
    display: none;
  }
}
@media (max-width: 530px) {
  .h5 {
    display: none;
  }
}
@media (max-width: 1040px) {
  .p1 {
    font-size: 70px;
  }
}
@media (max-width: 940px) {
  .p1 {
    font-size: 60px;
  }
}
@media (max-width: 800px) {
  .p1 {
    font-size: 50px;
  }
  .p2 {
    font-size: 16px;
  }
}
