@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a, .btn {
  transition: all 300ms ease;
}
.header {
  display: flex;
  flex-direction: row;
  height: 17vh;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: gray;
}
.name {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  margin-left: 50px;
  color: black;
  cursor: default;
  text-decoration-color: white;
}

.h1 {
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.h2 {
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.h3 {
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.h4 {
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 160px;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.my-image {
  border-radius: 60px;
  border-style: solid;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text__p1 {
  text-align: center;
  font-weight: 600;
}

.section__text__p2 {
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 600;
}

.title {
  font-size: 48px;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 16px;
  width: 128px;
  border-radius: 32px;
}

.button-2,
.button-1 {
  border: rgb(53, 53, 53) 1.6px solid;
}

.button-2:hover,
.button-1:hover {
  cursor: pointer;
}

.button-2,
.button-1:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.button-2:hover {
  background: rgb(0, 0, 0);
}

.button-1 {
  background: none;
}

.button-1:hover {
  border: rgb(255, 255, 255) 1.6px solid;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;
}

.icon {
  cursor: pointer;
  height: 32px;
}


#about {
  position: relative;
}

.about-containers {
  gap: 32px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 24px;
  flex: 1;
  background: white;
  border-radius: 32px;
  border: rgb(53, 53, 53) 1.6px solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 64px;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
