.header {
  background-color: lightblue;
  height: 17vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.name {
  margin-left: 100px;
  font-size: 32px;
}
.right-corner {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width:400px) {
  .right-corner {
    display: none;
  }
}
@media (max-width:840px) {
  .h {
    display: none;
  }
}

.h {
  margin-right: 40px;
  font-size: 24px;
}
.h1 {
  margin-right: 500px;
  font-size: 24px;
}
