@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-body {
  display: flex;
  width: 90vw;
  gap: 2rem;
  margin: 4rem;
}
@media screen and (max-width:850px) {
  .image:nth-of-type(5) {
    display: none;
  }
}
@media screen and (max-width:750px) {
  .image:nth-of-type(4) {
    display: none;
  }
}
@media screen and (max-width:650px) {
  .image:nth-of-type(3) {
    display: none;
  }
}
.image {
  height: 80vh;
  color: white;
  background-size:cover ;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius:10rem ;
  flex: 0.1;
  transition: flex 300ms ease;
}
.flex-child-1 {
  background-image: url(assets/eb68dc1e3c666a145ac01a1b439e8c49.avif);
}
.flex-child-2 {
  background-image: url(assets/beautiful-japanese-forest-scene_23-2151498135.avif);
}
.flex-child-3 {
  background-image: url(assets/empty-chair-tropical-beach-sea-ocean_74190-7485.jpg);
}
.flex-child-4 {
  background-image: url(assets/10735423.webp);
}
.flex-child-5 {
  background-image: url(assets/1644253.webp);
}
.active {
  flex: 1.8;
  border-radius: 50px;
}
h1 {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  font-family: 'Poppins',sans-serif;
}
